{% extends "base.html" %}
{% block title %}Панель учителя{% endblock %}
{% block content %}

<div class="container">
    <h2>Панель учителя</h2>
    <p style="text-align:center;">Добро пожаловать, {{ request.user.username }}!</p>

    <a href="/generator/" style="
        display:block; text-align:center; margin-top:20px;
        padding:12px; background:var(--primary); color:white;
        border-radius:8px; font-weight:600; text-decoration:none;">
        Создать контрольную работу
    </a>
</div>

{% endblock %}