{% extends "base.html" %}
{% load static %}

{% block title %}GeoGen — Главная{% endblock %}

{% block content %}

<section class="py-5 text-center hero">
    <div class="container">
        <h1 class="fw-bold">Генератор контрольных по геометрии</h1>
        <p class="lead mt-3">
            Выбор задач, контроль времени и PDF за секунды
        </p>

        <img src="{% static 'images/geometry.jpg' %}"
             class="img-fluid my-4"
             style="max-height:300px;">

        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'generator:index' %}" class="btn btn-primary btn-lg">
                Перейти к генератору
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                    Войти для доступа
                </a>
            {% endif %}
        </div>
    </div>
</section>

<section id="features" class="py-5">
    <div class="container">
        <h2 class="text-center fw-bold mb-4">Возможности</h2>

        <div class="row g-4 text-center">
            <div class="col-md-4">
                <i class="bi bi-diagram-3 fs-1"></i>
                <h5 class="mt-3">Подбор задач</h5>
            </div>

            <div class="col-md-4">
                <i class="bi bi-filetype-pdf fs-1"></i>
                <h5 class="mt-3">PDF</h5>
            </div>

            <div class="col-md-4">
                <i class="bi bi-shuffle fs-1"></i>
                <h5 class="mt-3">Случайные параметры</h5>
            </div>
        </div>
    </div>
</section>

{% endblock %}
