{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">GeoGen</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#features">Функции</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">О проекте</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacts">Контакты</a></li>

        {% if user.is_authenticated and user.teacher %}
        <li class="nav-item">
          <a class="btn btn-light ms-2" href="/generator/">Генератор</a>
        </li>
        {% endif %}
      </ul>

      <div class="nav-user">
        {% if user.is_authenticated %}
          {% if user.teacher %}
            <i class="bi bi-mortarboard text-white"></i>
          {% elif user.student %}
            <i class="bi bi-person-circle text-white"></i>
          {% endif %}

          <span class="username text-white">{{ user.username }}</span>
          <a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}">Выйти</a>
        {% else %}
          <a class="nav-link text-white" href="{% url 'login' %}">Вход</a>
          <a class="nav-link text-white" href="{% url 'register_teacher' %}">Регистрация</a>
        {% endif %}

        <div id="themeToggle" class="theme-toggle ms-3">🌙</div>
      </div>
    </div>
  </div>
</nav>
